Задание 1.

**Речевой акт: запрет**

**Условия успешности** - это те условия, соблюдение которых необходимо для признания речевого акта уместным.

В случае акта запрета адресант считает необходимым не допустить определенное действие, и тогда тот факт, что действие приведет к нарушению каких-то правил или негативным последствиям, будет считаться условием (но не гарантом) успешности.

Пример:

> **― Не мешай** работать! ― ору я. ― Что это за манера входить без стука? [Василий Аксенов. Звездный билет // «Юность», 1961]


Если адресат находится в комнате вместе с говорящим и отвлекает его от работы, то это создает условия успешности для запрета мешать говорящему.

**Иллокутивный акт** - это уровень речевого акта, на котором мы рассматриваем его с точки зрения внеязыковой цели. При акте запрета говорящий намерен прекратить или видоизменить совершаемое действие или действие, которое планирует совершить адресат в будущем.

В приведенном выше примере иллокутивный акт - это намерение говорящего не допустить помех в процессе работы и тем самым прекратить свои страдания.

**Перлокутивный акт** - уровень речевого акта, на котором мы рассматриваем речевой акт в аспекте реальных последствий. Несмотря на то, что говорящий ожидает от слушателя прекращения действия (совершенного или несовершенного), тем не менее, запрет может вызвать разную реакцию. Если слушатель придерживается принципа кооперации Г. Грайса, то он постарается направить диалог так, чтобы учитывались интересы обеих сторон и была осуществлена совместно принятая цель этого диалога. Если же адресат ведет себя «некооперативно» и отказывается выполнять условия говорящего, то говорящий может повести себя двумя способами и повлечь два исхода: 1) он может принять отказ и завершить диалог; 2) может не принять отказа и совершить столько итераций, сколько потребуется для выполнения желаемого действия.

Соответственно, в нашем примере адресат может либо молча уйти, либо остаться назло говорящему и продолжать мешать, либо прийти к какому-то консенсусу.

**Языковые средства реализации**

Для начала стоит отметить, что, согласно мнению Е.И. Беляевой, “запрет – это негативная форма приказа [Беляева Е.И. Грамматика и прагматика побуждения: Английский язык. Воронеж, 1992.-168с.: с.17]. Из этого можно вывести 2 следствия: во-первых, частотным языковым средством реализации данного типа речевого акта будет отрицательная частица “не”; во-вторых, языковые средства реализации запрета и приказа будут пересекаться. Далее в примерах мы убедимся в правильности выдвинутой гипотезы.

В целом для речевого акта запрета можно выделить следующие языковые средства:

* наличие слов с общей семой запрета: “воспрещать(-ся)”, “запрещать(-ся)”; “запрещение”, “табу”; “запретительный”, “запретный”; предикативы “хватит”, “довольно”, “полно”, “ладно”, “будет”

> **Хватит**, посмеялись ― пора, друзья мои, приниматься за работу. Приводите своего клиента в порядок. Работа прежде всего!" [Олег Павлов. Карагандинские девятины, или Повесть последних дней // «Октябрь», 2001]

> Проснулась она ни свет ни заря в слезах: ― Дурной сон мне приснился, что старший наш умер. ― Матушка, **полно** тебе, ― успокоил ее муж, ― верная примета: во сне умер, стало быть, наяву точно женится. [Наталья Галкина. Вилла Рено // «Нева», 2003]

* глаголы запрета (также с частицами «не») в настоящем и будущем времени 1 лица, реже 2 лица

> Мы славно развлечемся на пароходе. ―  Я **запрещаю**!   ― Гроссе ударил кулачком о стол.   ― Без моего разрешения никто не смеет… ― Он покраснел и задохнулся. [К. С. Бадигин. Секрет государственной важности (1974)]

> ― Ну, что, ей-богу, ― забурчал недовольно Шариков. ― Благодарю вас, доктор, ― ласково сказал Филипп Филиппович, ― а то мне уже надоело делать замечания. ― Всё равно **не позволю** есть, пока не заложите. Зина, примите майонез у Шарикова. [М. А. Булгаков. Собачье сердце (1925)]

> ― Всажу в тебя полкило свинца и закопаю где-нибудь во дворе? Что же ты приуныл? Говори. ―  Ты **не сделаешь** этого. [Евгений Сухов. Делу конец ― сроку начало (2007)]

* глаголы в повелительном наклонении (со значением прекращения действия, например, “перестать”, “прекратить”, “остановиться”, или с отрицательной частицей “не”)

> Маша встала на табуретку, ― Ой! ― сказала она, глянув вниз. ― Смелей, вниз **не смотри**, смотришь только на меня. [Андрей Клепаков. Опекун // «Волга», 2016]

> Ты туда **не ходи** с ним. А то выбежит вдруг на лёд и провалится. Знаешь, какая там глубина? Я говорю ― знаю. [Андрей Геласимов. Жанна (2001)]

> Коли так, я, пожалуй, буду исписывать для тебя целые листы, **перестань** только играть со мною в молчанку. [А. О. Корнилович. Письмо М. О. Корниловичу (1834)]

* инфинитивы с частицей «не» (особенно в правилах, уставах)

> **Не курить**, **не сидеть** на стульях, **не идти** против ветра… что еще запретят женщинам во имя морали? [Наталья Радулова. Предотвращение порока // «Огонек», 2014]

> ― Поговори! … Только **не плакать**, рыжий… ― Это ты всю дорогу плачешь! … Я всю дорогу для вас смеялась, а теперь для вас плачу… А еще могу из-за вас плакать… [Асар Эппель. Aestas sacra (1990-2000)]

* модальные операторы со значением отсутствия возможности или необходимости: не мочь, невозможно, не надо, не нужно, нельзя, не должен, не следует, надлежит

> В 1960 году территория, прилегающая к месту, где когда-то рыбачил российский император, получила статус заповедника. Здесь **нельзя** разводить костры, ставить палатки, а вот ловить рыбу можно. [Лев Королев. Летний отпуск по-императорски // «Огонек», 2014]

* частицы, восходящие к глаголам, прежде всего «брось» и «погоди»

> ― А что это такое, ― спросил Андрей, ― уровень жизни? ― **Брось**, Андрей, ― поморщившись, сказал Гриша. ― Чего я не люблю, так это когда ты дураком прикидываешься. [Виктор Пелевин. Желтая стрела (1993)]

* согласно данным сервиса «Прагматикон», дискурсивным формулам запрета свойственна интонационная конструкция ИК-2: нисходящий тон в сочетании с некоторым усилением словесного ударения на гласном центра

> Я сказала: ни-ни! Боже мой! ⬈**Этого еще не ⬊хватало**! Чего только не узнаешь, лежа по сю сторону преграды… [И. Грекова. Перелом (1987)]

Повелительное наклонение, инфинитивы (в том числе с частицами «не»), модальные операторы могут также использоваться для выражения просьбы, приказа, совета, предложения: 

> Он сказал: ―  Ну, пожалуйста, **перестань** на меня дуться… Это неприятно… Ты, кажется, пришла меня навестить… [Марк Криницкий. Маскарад чувства (1915)] — частица “пожалуйста” свидетельствует о том, что перед нами речевой акт просьбы

> А в самом деле, почему бы и **не сходить** в кино… [Токарева Виктория. Своя правда // «Новый Мир», 2002] — инфинитив с «не» реализует речевой акт предложения

> Вспомним старую истину: **не следует** употреблять иноязычные слова без надобности. [Потянем за язык // «Воронежские вести», 2003] — здесь модальный оператор использован для выражения речевого акта совета

> Вам **не видать** таких сражений!..

> Носились знамена как тени…

> [М. Ю. Лермонтов. Бородино («Скажи-ка, дядя, ведь не даром...») (1837)] — в данном примере речевой акт информирования или сожаления

Такая неоднозначность в использовании языковых средств может быть причиной коммуникативной неудачи: например, прагматический слушающий может воспринять выражение как речевой акт запрета и обидеться, хотя говорящий выражал просьбу.

**Косвенные способы выражения речевого акта запрета** тесно пересекаются с выражениями просьбы, рекомендации, совета, иногда информирования, поскольку иллокутивная цель акта запрета присутствует скрыто и соответственно воспринимается слушающим как более мягкая форма воздействия для обеспечения успешности и бесконфликтности коммуникации. Это может послужить причиной коммуникативной неудачи, поскольку, в отличие от вышеперечисленных форм директивов, для запрета характерно предоставление слушающему возможности ясно понять требование говорящего, а «смягчение» будет значить необязательность отмены действия.

> Если мы не пообедаем, это будет искусственно. А пить не обязательно. Пить мы не будем. [Сергей Довлатов. Чемодан (1986)] — здесь косвенно выражен запрет собеседнику пить, но можно трактовать это и как акт информирования, поскольку использована довольно нетипичная для запрета форма 1 лица множественного числа.

**Дискурсивные формулы, ассоциированные с речевым актом запрета:**
* вот еще
* и не думай
* и речи быть не может
* ишь чего захотел
* как можно
* не надо
* не стоит
* не сходи с ума
* нет уж
* ни в коем случае
* ну прекрати
* только не это
* хватит об этом
* я против
* так не делается
* придержи язык
* тебя не спрашивают
* молчи лучше
* еще не хватало
* опять за свое
* что ты в самом деле
* не будь дураком
* об этом нечего и думать
* поговори ещё 
* поговори тут
* постыдился бы
* ничего не выйдет

**Задание 3.**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
__author__ = 'Chris Potts'


class RSA:
    """Implementation of the core Rational Speech Acts model.

    Parameters
    ----------
    lexicon : `np.array` or `pd.DataFrame`
        Messages along the rows, states along the columns.
    prior : array-like
        Same length as the number of colums in `lexicon`.
    costs : array-like
        Same length as the number of rows in `lexicon`.
    alpha : float
        The temperature parameter. Default: 1.0
    """
    def __init__(self, lexicon, prior, costs, alpha=1.0):
        self.lexicon = lexicon
        self.prior = np.array(prior)
        self.costs = np.array(costs)
        self.alpha = alpha

    def literal_listener(self):
        """Literal listener predictions, which corresponds intuitively
        to truth conditions with priors.

        Returns
        -------
        np.array or pd.DataFrame, depending on `self.lexicon`.
        The rows correspond to messages, the columns to states.

        """
        return rownorm(self.lexicon * self.prior)

    def speaker(self):
        """Returns a matrix of pragmatic speaker predictions.

        Returns
        -------
        np.array or pd.DataFrame, depending on `self.lexicon`.
        The rows correspond to states, the columns to states.
        """
        lit = self.literal_listener().T
        utilities = self.alpha * (safelog(lit) + self.costs)
        return rownorm(np.exp(utilities))

    def listener(self):
        """Returns a matrix of pragmatic listener predictions.

        Returns
        -------
        np.array or pd.DataFrame, depending on `self.lexicon`.
        The rows correspond to messages, the columns to states.
        """
        spk = self.speaker().T
        return rownorm(spk * self.prior)


def rownorm(mat):
    """Row normalization of np.array or pd.DataFrame"""
    return (mat.T / mat.sum(axis=1)).T


def safelog(vals):
    """Silence distracting warnings about log(0)."""
    with np.errstate(divide='ignore'):
        return np.log(vals)


if __name__ == '__main__':
    """Examples"""

    from IPython.display import display


    def display_reference_game(mod):
        d = mod.lexicon.copy()
        d['costs'] = mod.costs
        d.loc['prior'] = list(mod.prior) + [""]
        d.loc['alpha'] = [mod.alpha] + [" "] * mod.lexicon.shape[1]
        display(d)


    # Core lexicon:
    msgs = ['шляпа', 'очки', 'усы']
    states = ['r1', 'r2','r3']
    lex = pd.DataFrame([
        [1.0, 1.0, 0.0],
        [0.0, 0.0, 1.0],
        [0.0, 1.0, 0.0]], index=msgs, columns=states)

In [ ]:
    #рассчитаем исходные вероятности
    print("="*70 + "\nEven priors and all-0 message costs\n")
    basic_mod = RSA(lexicon=lex, prior=[1/3, 1/3, 1/3], costs=[0.0, 0.0, 0.0])

    display_reference_game(basic_mod)

    print("\nLiteral listener")
    display(basic_mod.literal_listener())

    print("\nPragmatic speaker")
    display(basic_mod.speaker())

    print("\nPragmatic listener")
    display(basic_mod.listener())

======================================================================
Even priors and all-0 message costs

             r1        r2        r3 costs
шляпа  1.000000         1         0     0
очки   0.000000         0         1     0
усы    0.000000         1         0     0
prior  0.333333  0.333333  0.333333
alpha  1.000000

Literal listener

        r1   r2   r3
шляпа  0.5  0.5  0.0
очки   0.0  0.0  1.0
усы    0.0  1.0  0.0

Pragmatic speaker

       шляпа  очки       усы
r1  1.000000   0.0  0.000000
r2  0.333333   0.0  0.666667
r3  0.000000   1.0  0.000000

Pragmatic listener

         r1    r2   r3
шляпа  0.75  0.25  0.0
очки   0.00  0.00  1.0
усы    0.00  1.00  0.0

Говорить об импликатуре мы можем только в том случае, если говорящий использует стимул «шляпа», поскольку для остальных стимулов ситуация однозначная. В случае со шляпой перед прагматическим слушателем возникает проблема — он может выбрать и объект r1, и объект r2. Однако поскольку объект r2 задается более точно стимулом «усы» («усы» — уникальный признак только для r2), «усы» оказываются более информативными для объекта r2 (р=1). Поэтому прагматический слушатель, предполагая, что говорящий кооперативен, и опираясь на шкалу информативности, выберет объект r1 для стимула «шляпа», т. к. выбор менее информативного варианта говорит о том, что более информативный вариант попросту невозможен.

In [ ]:
    #поменяем исходные вероятности на P(r1) = 0.1, P(r2) = P(r3) = 0.45
    print("="*70 + "\nImbalanced priors, all-0 message costs\n")
    prior_mod = RSA(lexicon=lex,  prior=[0.1, 0.45, 0.45], costs=[0.0, 0.0, 0.0])

display_reference_game(prior_mod)

    print("\nLiteral listener")
    display(prior_mod.literal_listener())

    print("\nPragmatic speaker")
    display(prior_mod.speaker())

    print("\nPragmatic listener")
    display(prior_mod.listener())

======================================================================
Imbalanced priors, all-0 message costs

        r1    r2    r3 costs
шляпа  1.0     1     0     0
очки   0.0     0     1     0
усы    0.0     1     0     0
prior  0.1  0.45  0.45
alpha  1.0

Literal listener

             r1        r2   r3
шляпа  0.181818  0.818182  0.0
очки   0.000000  0.000000  1.0
усы    0.000000  1.000000  0.0

Pragmatic speaker

    шляпа  очки   усы
r1   1.00   0.0  0.00
r2   0.45   0.0  0.55
r3   0.00   1.0  0.00

Pragmatic listener

             r1        r2   r3
шляпа  0.330579  0.669421  0.0
очки   0.000000  0.000000  1.0
усы    0.000000  1.000000  0.0

Мы видим, что импликатура действительно меняется: поскольку априорная вероятность (prior) того, что говорящий говорит об объекте r1, стала ниже, вероятность того, что прагматический слушатель выберет этот объект, тоже стала значительно ниже. Причем априорная вероятность r1 настолько низкая, что при отсутствии других стимулов его вообще вряд ли будут выбирать в референциальной игре.

**Задание 4.**

In [ ]:
#референциальная игра: 4 украинца, первый любит сало, второй борщ, третий борщ с черноком, любимая еда четвертого - пампушки.
#core lexicon:
msgs = ['сало', 'борщ', 'чеснок', 'пампушки']
states = ['укр1', 'укр2','укр3','укр4']
lex = pd.DataFrame([
        [1.0, 0.0, 0.0, 0.0],
        [0.0, 1.0, 1.0, 0.0],
        [0.0, 0.0, 1.0, 0.0],
        [0.0, 0.0, 0.0, 1.0]], index=msgs, columns=states)

print("="*70 + "\nEven priors and all-0 message costs\n")
basic_mod = RSA(lexicon=lex, prior=[0.25, 0.25, 0.25, 0.25], costs=[0.0, 0.0, 0.0, 0.0])

display_reference_game(basic_mod)

print("\nLiteral listener")
display(basic_mod.literal_listener())

print("\nPragmatic speaker")
display(basic_mod.speaker())

print("\nPragmatic listener")
display(basic_mod.listener())

======================================================================
Even priors and all-0 message costs

          укр1  укр2  укр3  укр4 costs
сало      1.00     0     0     0     0
борщ      0.00     1     1     0     0
чеснок    0.00     0     1     0     0
пампушки  0.00     0     0     1     0
prior     0.25  0.25  0.25  0.25
alpha     1.00

Literal listener

          укр1  укр2  укр3  укр4
сало       1.0   0.0   0.0   0.0
борщ       0.0   0.5   0.5   0.0
чеснок     0.0   0.0   1.0   0.0
пампушки   0.0   0.0   0.0   1.0

Pragmatic speaker

      сало      борщ    чеснок  пампушки
укр1   1.0  0.000000  0.000000       0.0
укр2   0.0  1.000000  0.000000       0.0
укр3   0.0  0.333333  0.666667       0.0
укр4   0.0  0.000000  0.000000       1.0

Pragmatic listener

          укр1  укр2  укр3  укр4
сало       1.0  0.00  0.00   0.0
борщ       0.0  0.75  0.25   0.0
чеснок     0.0  0.00  1.00   0.0
пампушки   0.0  0.00  0.00   1.0

По таблице вероятностей для прагмативного слушателя мы видим, что действительно существует шкала информативности для стимула "борщ". Поскольку борщ любят два украинца, но при этом один из них любит еще и чеснок, то "чеснок" более информативен. По свойству скалярности выбор менее информативного варианта (в данном случае стимул "борщ") имплицирует отрицание более информативного варианта, т. е. получая стимул "борщ", прагматический слушатель склонен выбрать второго украинца.

In [ ]:
#посмотрим, как меняются вероятности для прагматического слушающего с изменением параметра alpha
print("="*70 + "\nEven priors and all-0 message costs; alpha = 2\n")
alpha_mod = RSA(lexicon=lex, prior=[0.25, 0.25, 0.25, 0.25], costs=[0.0, 0.0, 0.0, 0.0], alpha=2.0)

display_reference_game(alpha_mod)

print("\nLiteral listener")
display(alpha_mod.literal_listener())

print("\nPragmatic speaker")
display(alpha_mod.speaker())

print("\nPragmatic listener")
display(alpha_mod.listener())

======================================================================
Even priors and all-0 message costs; alpha = 2

          укр1  укр2  укр3  укр4 costs
сало      1.00     0     0     0     0
борщ      0.00     1     1     0     0
чеснок    0.00     0     1     0     0
пампушки  0.00     0     0     1     0
prior     0.25  0.25  0.25  0.25
alpha     2.00

Literal listener

          укр1  укр2  укр3  укр4
сало       1.0   0.0   0.0   0.0
борщ       0.0   0.5   0.5   0.0
чеснок     0.0   0.0   1.0   0.0
пампушки   0.0   0.0   0.0   1.0

Pragmatic speaker

      сало  борщ  чеснок  пампушки
укр1   1.0   0.0     0.0       0.0
укр2   0.0   1.0     0.0       0.0
укр3   0.0   0.2     0.8       0.0
укр4   0.0   0.0     0.0       1.0

Pragmatic listener

          укр1      укр2      укр3  укр4
сало       1.0  0.000000  0.000000   0.0
борщ       0.0  0.833333  0.166667   0.0
чеснок     0.0  0.000000  1.000000   0.0
пампушки   0.0  0.000000  0.000000   1.0

In [ ]:
#повысим ставки
print("="*70 + "\nEven priors and all-0 message costs; alpha = 7\n")
alpha_mod = RSA(lexicon=lex, prior=[0.25, 0.25, 0.25, 0.25], costs=[0.0, 0.0, 0.0, 0.0], alpha=7.0)

display_reference_game(alpha_mod)

print("\nLiteral listener")
display(alpha_mod.literal_listener())

print("\nPragmatic speaker")
display(alpha_mod.speaker())

print("\nPragmatic listener")
display(alpha_mod.listener())

======================================================================
Even priors and all-0 message costs; alpha = 7

          укр1  укр2  укр3  укр4 costs
сало      1.00     0     0     0     0
борщ      0.00     1     1     0     0
чеснок    0.00     0     1     0     0
пампушки  0.00     0     0     1     0
prior     0.25  0.25  0.25  0.25
alpha     7.00

Literal listener

          укр1  укр2  укр3  укр4
сало       1.0   0.0   0.0   0.0
борщ       0.0   0.5   0.5   0.0
чеснок     0.0   0.0   1.0   0.0
пампушки   0.0   0.0   0.0   1.0

Pragmatic speaker

      сало      борщ    чеснок  пампушки
укр1   1.0  0.000000  0.000000       0.0
укр2   0.0  1.000000  0.000000       0.0
укр3   0.0  0.007752  0.992248       0.0
укр4   0.0  0.000000  0.000000       1.0

Pragmatic listener

          укр1      укр2      укр3  укр4
сало       1.0  0.000000  0.000000   0.0
борщ       0.0  0.992308  0.007692   0.0
чеснок     0.0  0.000000  1.000000   0.0
пампушки   0.0  0.000000  0.000000   1.0

Дальше увеличивать параметр alpha не имеет смысла, поскольку вероятность выбора второго украинца при стимуле "борщ" прагматическим слушателем практически равна единице, т. е. импликатура исчезает. Высокий параметр alpha, задающий оптимальность говорящего, свидетельствует о максимальной рациональности стимулов, значит, слушающий будет более "доверчивым".

Отрицательные значения брать не можем, поскольку на этапе прагматического слушающего берется экспонента exp(utilities) (код также работает некорректно).

In [ ]:
#меняем параметр цены высказывания
print("="*70 + "\nEven priors, imbalanced message costs\n")
cost_most = RSA(lexicon=lex, prior=[0.25, 0.25, 0.25, 0.25], costs=[-3.0, -2.0, 0.0, 1.0])

display_reference_game(cost_most)

print("\nLiteral listener")
display(cost_most.literal_listener())

print("\nPragmatic speaker")
display(cost_most.speaker())

print("\nPragmatic listener")
display(cost_most.listener())

======================================================================
Even priors, imbalanced message costs

          укр1  укр2  укр3  укр4 costs
сало      1.00     0     0     0    -3
борщ      0.00     1     1     0    -2
чеснок    0.00     0     1     0     0
пампушки  0.00     0     0     1     1
prior     0.25  0.25  0.25  0.25
alpha     1.00

Literal listener

          укр1  укр2  укр3  укр4
сало       1.0   0.0   0.0   0.0
борщ       0.0   0.5   0.5   0.0
чеснок     0.0   0.0   1.0   0.0
пампушки   0.0   0.0   0.0   1.0

Pragmatic speaker

      сало      борщ    чеснок  пампушки
укр1   1.0  0.000000  0.000000       0.0
укр2   0.0  1.000000  0.000000       0.0
укр3   0.0  0.063379  0.936621       0.0
укр4   0.0  0.000000  0.000000       1.0

Pragmatic listener

          укр1      укр2      укр3  укр4
сало       1.0  0.000000  0.000000   0.0
борщ       0.0  0.940399  0.059601   0.0
чеснок     0.0  0.000000  1.000000   0.0
пампушки   0.0  0.000000  0.000000   1.0

Из таблицы видно, что в однозначных ситуациях при стимулах "сало", "чеснок" и "пампушки" цена высказывания никак не влияет на вероятность выбора украинца прагматическим слушателем. Но при снижении цены стимула "борщ" его информативность падает еще больше в сравнении с "чесноком", поэтому вероятность выбора второго украинца при таком стимуле близится к единице. Это значит, что импликатура практически исчезает, выбор однозначен.

In [ ]:
#еще раз меняем параметр цены высказывания, но теперь только для "борща"
print("="*70 + "\nEven priors, imbalanced message costs\n")
cost_most = RSA(lexicon=lex, prior=[0.25, 0.25, 0.25, 0.25], costs=[0.0, 4.0, 0.0, 0.0])

display_reference_game(cost_most)

print("\nLiteral listener")
display(cost_most.literal_listener())

print("\nPragmatic speaker")
display(cost_most.speaker())

print("\nPragmatic listener")
display(cost_most.listener())

======================================================================
Even priors, imbalanced message costs

          укр1  укр2  укр3  укр4 costs
сало      1.00     0     0     0     0
борщ      0.00     1     1     0     4
чеснок    0.00     0     1     0     0
пампушки  0.00     0     0     1     0
prior     0.25  0.25  0.25  0.25
alpha     1.00

Literal listener

          укр1  укр2  укр3  укр4
сало       1.0   0.0   0.0   0.0
борщ       0.0   0.5   0.5   0.0
чеснок     0.0   0.0   1.0   0.0
пампушки   0.0   0.0   0.0   1.0

Pragmatic speaker

      сало      борщ    чеснок  пампушки
укр1   1.0  0.000000  0.000000       0.0
укр2   0.0  1.000000  0.000000       0.0
укр3   0.0  0.964663  0.035337       0.0
укр4   0.0  0.000000  0.000000       1.0

Pragmatic listener

          укр1      укр2      укр3  укр4
сало       1.0  0.000000  0.000000   0.0
борщ       0.0  0.508993  0.491007   0.0
чеснок     0.0  0.000000  1.000000   0.0
пампушки   0.0  0.000000  0.000000   1.0

Поднимая цену стимула "борщ", мы тем самым увеличиваем его информативность и вероятность выбора прагматическим слушателем и для третьего украинца тоже.
После цены выше 4 изменения становятся уже максимально незначительными.

In [ ]:
#изменяем исходные (априорные) вероятности объектов
print("="*70 + "\nImbalanced priors, all-0 message costs\n")
prior_mod = RSA(lexicon=lex, prior=[0.3, 0.4, 0.2, 0.1], costs=[0.0, 0.0, 0.0, 0.0])

display_reference_game(prior_mod)

print("\nLiteral listener")
display(prior_mod.literal_listener())

print("\nPragmatic speaker")
display(prior_mod.speaker())

print("\nPragmatic listener")
display(prior_mod.listener())

======================================================================
Imbalanced priors, all-0 message costs

          укр1 укр2 укр3 укр4 costs
сало       1.0    0    0    0     0
борщ       0.0    1    1    0     0
чеснок     0.0    0    1    0     0
пампушки   0.0    0    0    1     0
prior      0.3  0.4  0.2  0.1
alpha      1.0

Literal listener

          укр1      укр2      укр3  укр4
сало       1.0  0.000000  0.000000   0.0
борщ       0.0  0.666667  0.333333   0.0
чеснок     0.0  0.000000  1.000000   0.0
пампушки   0.0  0.000000  0.000000   1.0

Pragmatic speaker

      сало  борщ  чеснок  пампушки
укр1   1.0  0.00    0.00       0.0
укр2   0.0  1.00    0.00       0.0
укр3   0.0  0.25    0.75       0.0
укр4   0.0  0.00    0.00       1.0

Pragmatic listener

          укр1      укр2      укр3  укр4
сало       1.0  0.000000  0.000000   0.0
борщ       0.0  0.888889  0.111111   0.0
чеснок     0.0  0.000000  1.000000   0.0
пампушки   0.0  0.000000  0.000000   1.0

При увеличении априорной вероятности того, что говорящий говорит о втором украинце, вероятность того, что прагматический слушатель выберет этот объект при произнесении "спорного" стимула "борщ" увеличивается. При этом априорная вероятность для третьего украинца становится чуть ниже, но с учетом того, что он обладает надежным однозначным стимулом "чеснок", в референциальной игре его будут выбирать с опорой именно на этот стимул.

При априорных вероятностях для укр2=0.5 и укр3=0.1 вероятность выбора при стимуле "борщ" становится максимально высокой для второго украинца и максимально низкой для третьего (0.97(2) и 0.02(7) соответственно), т. е. импликатура практически исчезает, выбор однозначен.